alabaster==0.7.9
astroid==1.4.8
Babel==2.3.4
backports.shutil-get-terminal-size==1.0.0
boto==2.40.0
bz2file==0.98
cycler==0.10.0
DeCAF==1.1.4
decorator==4.0.10
docutils==0.12
entrypoints==0.2.2
gensim==0.12.4
imagesize==0.7.1
ipykernel==4.3.1
ipython==5.0.0
ipython-genutils==0.1.0
ipywidgets==5.2.2
isort==4.2.5
jedi==0.9.0
Jinja2==2.8
jsonschema==2.5.1
jupyter==1.0.0
jupyter-client==4.3.0
jupyter-console==5.0.0
jupyter-core==4.1.0
lazy-object-proxy==1.2.2
MarkupSafe==0.23
matplotlib==1.5.1
mccabe==0.5.2
mistune==0.7.3
nbconvert==4.2.0
nbformat==4.0.1
nltk==3.2.1
notebook==4.2.1
numpy==1.11.1
pandas==0.18.1
patsy==0.4.1
pep8==1.7.0
pexpect==4.2.0
pickleshare==0.7.3
prompt-toolkit==1.0.4
protobuf==3.0.0b2
psutil==4.3.0
ptyprocess==0.5.1
py==1.4.31
pyflakes==1.2.3
Pygments==2.1.3
pylint==1.6.4
pyparsing==2.1.5
pytest==2.9.2
python-dateutil==2.5.3
pytz==2016.6.1
pyzmq==15.3.0
QtAwesome==0.3.3
qtconsole==4.2.1
QtPy==1.1.1
requests==2.10.0
rope-py3k==0.9.4.post1
rpython==0.1.4
scikit-learn==0.17.1
scipy==0.17.1
simplegeneric==0.8.1
sip==4.18.1
six==1.10.0
smart-open==1.3.3
snowballstemmer==1.2.1
Sphinx==1.4.5
spyder==3.0.0b4
statsmodels==0.6.1
tensorflow==0.10.0rc0
terminado==0.6
Theano==0.8.2
tornado==4.4.1
traitlets==4.2.2
wcwidth==0.1.7
widgetsnbextension==1.2.6
wrapt==1.10.8
